<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>About</title>
</head>
<body>

<div class="main-content">
    {{>header}}
    <img src="./images/lucky.jpeg" alt="MyPic">
    <p>Weather includes wind, lightning, storms, hurricanes, tornadoes (also known as twisters), rain, hail, snow, and lots more. Energy from the Sun affects the weather too. Climate tells us what kinds of weather usually happen in an area at different times of the year. Changes in weather can affect our mood and life.</p>
</div>

   
     {{>footer}}
</body>
</html>